$color-primary: #2580ca;
$color-secondary: #f7f7f7;
$color-accent: rgb(71, 152, 199);

$default-padding: 15px;
$default-margin: 15px;
$default-shadow:
    0 0 10px rgba(0, 0, 0, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.1);
$default-border: solid 3px $color-accent;

* {
    margin: 0;
}
.content {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: rgb(157, 221, 244);
    background: -moz-radial-gradient(
        circle,
        rgba(157, 221, 244, 1) 7%,
        rgba(77, 188, 202, 1) 50%,
        rgba(25, 82, 145, 1) 100%
    );
    background: -webkit-radial-gradient(
        circle,
        rgba(157, 221, 244, 1) 7%,
        rgba(77, 188, 202, 1) 50%,
        rgba(25, 82, 145, 1) 100%
    );
    background: radial-gradient(
        circle,
        rgba(157, 221, 244, 1) 7%,
        rgba(77, 188, 202, 1) 50%,
        rgba(25, 82, 145, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9dddf4",endColorstr="#195291",GradientType=1);
    .title {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .big {
            .top {
                top: 0;
                right: 0;
                transform: translate(-50%, 50%);
                position: absolute;
                font-variant: small-caps;
                font-size: 16px;
            }
            font-variant: small-caps;
            font-variant-caps: unicase;
            padding: $default-padding;
            margin: $default-margin;
            text-align: center;
            font-size: 60px;
            font-weight: 300;
            color: $color-secondary;
            text-shadow: $default-shadow;
            border-bottom: solid 2px $color-secondary;
        }
        .small {
            text-align: center;
            font-size: 24px;
            font-weight: 300;
            color: $color-secondary;
            text-shadow: $default-shadow;
        }
    }
    .avatar {
        padding: $default-padding;
        margin: $default-margin;
        box-shadow: $default-shadow;
        background-color: $color-secondary;
        box-sizing: border-box;
        height: min-content;
    }

    .right-side {
        // transform: rotate(-2deg);
        justify-content: center;
        align-items: center;
        margin: $default-margin;
        display: flex;
        flex-direction: column;
        .warning {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%, -50%);
            background-color: $color-primary;
            padding: $default-padding;
            border: solid 2px #ffadad;
            color: #ffadad;
            font-weight: 200;
            animation: shake 0.5s ease-in-out infinite;
        }
        @keyframes shake {
            0%, 100% { transform: translate(50%, -50%); }
            25%, 75% { transform:  translate(50%, -50%) rotate(1deg); }
            50% { transform:  translate(50%, -50%) rotate(-1deg); }
        }


        .input-div {
            position: relative;
        }
        .select-div {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
        }
    }
}

button {
    padding: 30px;
    background-color: $color-primary;
    font-size: 30px;
    font-weight: 200;
    font-variant: small-caps;
    border: none;
    color: $color-secondary;
    box-shadow: $default-shadow;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}
input {
    padding: $default-padding;
    margin: $default-margin;
    border: $default-border;
    margin-right: 10px;
    font-size: 20px;
}
select {
    padding: $default-padding;
    margin: $default-margin;
    border: $default-border;
    font-size: 20px;
}
.input-label {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
    padding: 0 10px;
    font-size: 15px;
    color: $color-secondary;
    font-weight: 300;
}
.select-label {
    position: relative;

    background-color: $color-primary;
    padding: 0 10px;
    font-size: 15px;
    color: $color-secondary;
}
